- title = "test"
h1 Map Riot
- if(authenticated)
  #main
  form#chatForm(action="/chat", method="post")
    input(name="message", autocomplete="off")
- else
  a(href="#{sign_in_url}") Sign in with Facebook to Begin